/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Other Utility Styles */

body::-webkit-scrollbar {
    display: none;
}

img.emoji {
    width: 1em;
    height: 1em;
    display: inline;
    vertical-align: -0.1em;
    margin: 0 0.05em 0 0.1em;
}